*.exe
*unpacked
__pycache__
.godot
.vscode
godot/assets/
reference/
build/
defold/assets/
defold/generated/
defold/data/
defold/build/
defold/.internal/
defold/.editor_settings
defold/debug.keystore*
godot/icons/*.png
